# KiCad temporary and backup files
*.kicad_pcb-bak
*.kicad_sch-bak
*-save.kicad_pcb
*-save.kicad_sch
*-bak
*.bak
*.lck
~*.lck
_saved/

# Python cache & virtual environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Editor / OS files
.vscode/
.history/
.DS_Store
Thumbs.db
desktop.ini
scratch/
